.singer {
    float: left;
    margin: 10px;
}

#singer-input {
    margin: 20px 0;
    
    clear: both;
    overflow: auto;
    
    
}

button {
    background: green;
    padding: 10px;
    color: white;
}
.container {
    background: lightcyan;
    padding: 10px 300px 600px 300px;
}



#add-singer {
    background: green;
    color: white;
    padding: 10px 30px;
}